flows.json
[
    {
        "id": "7de2cd4c.348684",
        "type": "tab",
        "label": "Lifez - Node Red",
        "disabled": false,
        "info": ""
    },
    {
        "id": "19f47b3f.331cc5",
        "type": "ui_form",
        "z": "7de2cd4c.348684",
        "name": "",
        "label": "",
        "group": "3758692c.0e8236",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Year\t",
                "value": "a",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Status",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Adult Mortality\t",
                "value": "c",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Infant Deaths\t",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol\t",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Precentage Expenditure\t",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Hepatitis B\t",
                "value": "g",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Measles\t",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI\t",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Under-Five Deaths\t",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio\t",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Total Expenditure\t",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Diphtheria\t",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV/AIDS\t",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP\t",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population\t",
                "value": "p",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Thinness 1-19 years\t",
                "value": "q",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Thinness 5-9 years\t",
                "value": "r",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income Composition of Resources\t",
                "value": "s",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling\t",
                "value": "t",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": "",
            "r": "",
            "s": "",
            "t": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 471,
        "y": 24.000000953674316,
        "wires": [
            [
                "764e55bc.eaf83c"
            ]
        ]
    },
    {
        "id": "764e55bc.eaf83c",
        "type": "function",
        "z": "7de2cd4c.348684",
        "name": "pre token",
        "func": "//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"C_mSSMu8Dk5UNq3KXq1dcayDG-fc8qEk0pL0Ur-gYpkQ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 482,
        "y": 104.00000190734863,
        "wires": [
            [
                "81f4752d.b6ff78"
            ]
        ]
    },
    {
        "id": "36d528b3.a78eb8",
        "type": "http request",
        "z": "7de2cd4c.348684",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0b356bff-08fd-4c13-9970-cb3b93470977/deployments/70b36464-cb87-4a0b-9162-d1a0d6298fb7/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 491.00000762939453,
        "y": 367.0000057220459,
        "wires": [
            [
                "43cf6c48.8fcb04",
                "16849d8e.694402"
            ]
        ]
    },
    {
        "id": "e6ee394d.03d9c8",
        "type": "debug",
        "z": "7de2cd4c.348684",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 907.0000152587891,
        "y": 462.00000190734863,
        "wires": []
    },
    {
        "id": "43cf6c48.8fcb04",
        "type": "debug",
        "z": "7de2cd4c.348684",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 895.0000152587891,
        "y": 364.0000009536743,
        "wires": []
    },
    {
        "id": "54a76b35.a4b2d4",
        "type": "function",
        "z": "7de2cd4c.348684",
        "name": "sendTo Endpoint",
        "func": "//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"0b356bff-08fd-4c13-9970-cb3b93470977\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"Status\",\n\"Adult Mortality\",\n\"Infant Deaths\",\n\"Alcohol\",\n\"Percentage Expenditure\",\n\"Hepatitis B\",\n\"Measles\",\n\"BMI\",\n\"Under-Five Deaths\",\n\"Polio\",\n\"Total Expenditure\",\n\"Diphtheria\",\n\"HIV/AIDS\",\n\"GDP\",\n\"Population\",\n\"Thinness 1-19 years\",\n\"Thinness 5-9 years\",\n\"Income Composition of Resources\",\n\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 496,
        "y": 278.00000190734863,
        "wires": [
            [
                "36d528b3.a78eb8"
            ]
        ]
    },
    {
        "id": "81f4752d.b6ff78",
        "type": "http request",
        "z": "7de2cd4c.348684",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 496.00000762939453,
        "y": 197.00000190734863,
        "wires": [
            [
                "54a76b35.a4b2d4"
            ]
        ]
    },
    {
        "id": "a348caec.943428",
        "type": "ui_text",
        "z": "7de2cd4c.348684",
        "group": "3758692c.0e8236",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 898.0000114440918,
        "y": 566.0000038146973,
        "wires": []
    },
    {
        "id": "16849d8e.694402",
        "type": "function",
        "z": "7de2cd4c.348684",
        "name": "getFrom Endpoint",
        "func": "msg.payload=msg.payload.values[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 507.00000762939453,
        "y": 466.00000762939453,
        "wires": [
            [
                "e6ee394d.03d9c8",
                "a348caec.943428"
            ]
        ]
    },
    {
        "id": "3758692c.0e8236",
        "type": "ui_group",
        "z": "",
        "name": "Lifez Prediction ",
        "tab": "b18ad9f6.af26a8",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "b18ad9f6.af26a8",
        "type": "ui_tab",
        "z": "",
        "name": "Predicting Life Expectancy using Machine Learning",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]